<template>
    <h1 class="title is-1">BLOG_</h1>
    <div v-if="posts.length" class="container tile is-ancestor">
      <div v-for="post of posts" :key="post._id" class="tile is-6">
        <router-link :to="'/blog/post/' + post._id" class="box post">
          <h2 class="title is-2">
            {{post.title}}
          </h2>
          <p class="content">{{getDescription(post.body)}}</p>
          <p class="subtitle timestamp">{{post.createdOn}}</p>
        </router-link>
      </div>
    </div>
    <p v-if="!posts.length" class="text-center title">Nothing to see here 👀</p>
</template>

<script>
import axios from 'axios';
import * as removeMd from 'remove-markdown';
import {ref} from 'vue';
export default {
  name: 'Blog',
  setup() {
    let posts = ref([]);
    function getPosts() {
      axios.get(`${process.env.VUE_APP_API_URL}/all`).then(data => {
        posts.value = data.data.map(x => ({
          ...x,
          createdOn: new Date(x.createdOn).toLocaleString()
        }));
      });
    }
    function getDescription(postBody) {
      return postBody.length >= 200 ?
        removeMd(postBody.substr(0, 200) + '...') :
        removeMd(postBody);
    }
    getPosts();
    return {posts, getDescription};
  }
}
</script>

<style>
h1 {
  text-align: center;
}
.container {
  flex-wrap: wrap;
  margin: auto !important;
  text-align: center;
  margin-top: 4%;
}
.timestamp {
  position: absolute;
  bottom: 2px;
  right: 5px;
}
.post {
  position: relative;
  width: 90%;
  transition: filter .3s ease;
}
.post:hover {
  filter: contrast(0.8);
  cursor: pointer;
}
.text-center {
  text-align: center;
}
</style>
