<template>
  <h1 class="title is-1">HOME_</h1>
  <div class="home">
    <Bio/>
    <Gallery/>
  </div>
</template>

<script>
import Bio from '@/components/Bio.vue';
import Gallery from '@/components/Gallery.vue';
export default {
    components: {Bio, Gallery}
}
</script>

<style>
.home {
  margin-top: 4%;
}
h1 {
  text-align: center;
}
</style>
