<template>
  <div class="container">
    <div class="box">
      <router-link to="/blog" class="float-left">&lt;--</router-link>
      <h1 class="title is-1">{{post.title}}</h1>
      <p v-html="post.body" class="content"></p>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import {ref} from 'vue';
import {useRoute} from 'vue-router';
import marked from 'marked';
export default {
  name: 'Post',
  setup() {
    const route = useRoute();
    let post = ref({});
    axios.get(`${process.env.VUE_APP_API_URL}/post/${route.params.id}`).then(p => {
      post.value = p.data;
      post.value.body = marked(post.value.body);
    });
    return {route, post}
  }
}
</script>

<style scoped>
.container {
  width: 80%;
}

.box {
  margin-top: 5%;
}

.float-left {
  float: left
}

</style>
