<template>
  <div class="resume">
    <div class="content columns is-mobile">
      <div class="column is-4 has-text-centered left-column">
        <h1 class="is-size-1">River Merrill</h1>
        <p class="has-text-weight-bold">Personal Info</p>
        <p class="has-text-weight-bold m-1">Phone:</p>
        <p>(208)-407-2654</p>
        <p class="has-text-weight-bold m-1">Email:</p>
        <p>rivermerrill.me@gmail.com</p>
        <p class="has-text-weight-bold">Skills</p>
        <p class="m-1">Angular 2+</p>
        <progress class="progress" value="90" max="100">90%</progress>
        <p class="m-1">Javascript/Typescript</p>
        <progress class="progress" value="90" max="100">90%</progress>
        <p class="m-1">HTML/CSS</p>
        <progress class="progress" value="90" max="100">90%</progress>
        <p class="m-1">Java</p>
        <progress class="progress" value="75" max="100">75%</progress>
        <p class="m-1">C#</p>
        <progress class="progress" value="50" max="100">50%</progress>
        <p class="m-1">ReactJS</p>
        <progress class="progress" value="50" max="100">50%</progress>
        <p class="has-text-weight-bold">Links</p>
        <p>Linkedin: <a target="_blank" href="https://linkedin.com/in/rivermerrill">linkedin.com/in/rivermerrill</a></p>
        <p>Bitbucket: <a target="_blank" href="https://bitbucket.org/rivermerrill/">bitbucket.org/rivermerrill/</a></p>
        <p>Music: <a target="_blank" href="https://songwhip.com/river-merrill">songwhip.com/river-merrill</a></p>
      </div>
      <div class="column is-8 right-column has-text-left">
        <h2>Summary</h2>
        <p>
          Hi, I'm River!  I'm a skilled software engineer with a passion for code.
          I have around 6 years of experience in the software industry, and I am always searching for a new challenge.
          I'm currently looking for opportunities to grow my skillset and work with a talented team.
        </p>
        <h2>Employment History</h2>
        <p class="has-text-weight-bold">Senior Software Engineer - Allata - Boise, Idaho</p>
        <p>March 2018 - Current</p>
        <p>
          Consulted with clients to bring high scale web applications from planning
          stages to production across a variety of frameworks and technologies
          (Java, .NET Core, Angular, Vuejs, Nodejs)
        </p>
        <p class="has-text-weight-bold">Freelance Software Engineer - Boise, Idaho</p>
        <p>July 2016 - March 2018</p>
        <p>
          Built software from scratch for a wide range of clients, some of which include:
          <ul>
            <li>
              Appointment scheduling web application
            </li>
            <li>
              Couponing mobile application and backend services
            </li>
            <li>
              Custom static websites for local businesses
            </li>
          </ul>
        </p>
        <p class="has-text-weight-bold">Lead Front-End Developer - Gigmi Inc. - Boise, Idaho</p>
        <p>November 2015 - July 2016</p>
        <p>
          Gathered business requirements and executed on planned features to
          build a mobile application front-end
        </p>
        <h2>Education</h2>
        <p class="has-text-weight-bold">BoiseCodeWorks - Boise, Idaho</p>
        <p>Certificate of Completion, Full Stack Software Development, Nov. 2015</p>
        <p class="has-text-weight-bold">Homeschool - Boise, Idaho</p>
        <p>High School Diploma, May. 2015</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  setup() {
    
  },
}
</script>

<style>
.resume {
  background-color: white !important;
  height: 100vh;
  color: black !important;
}

.content {
  color: black !important;
  width: 98vw;
  margin: auto;
}

.left-column {
  height: 100vh;
  border-right: 1px solid lightgrey;
}

.right-column {
  /* padding-left: 8%; */
  /* padding-right: 8%; */
}

.progress {
  width: 70%;
  margin: auto;
}
@media print { 
  .content {
    width: 100vw;
  }
  .right-column {
    padding-right: 0px !important;
    padding-right: 0px !important;
  }
  p {
    font-size: 0.7em;
  }
  h1 {
    font-size: 2.5rem !important;
  }
  h2 {
    font-size: 1.3rem !important;
  }
}

</style>
