<template>
    <div class="push"></div>
    <div class="card main">
        <div class="card-content">
            <p class="title">Hi there, I'm River 👋</p>
        </div>
        <!-- <div class="card-image">
          <img class="image" src="@/assets/profile.jpg" alt="Placeholder image">
        </div> -->
        <div class="card-content">
            <p class="subtitle">Here are some of my things.</p>
        </div>
    </div> 
</template>

<script>
export default {
    name: 'Bio'
}
</script>

<style scoped>
.main {
    width: 70%;
    margin: auto;
    text-align: center;
}
img {
  width: 20%;
  border-radius: 15px;
  margin: auto;
}
</style>
