<template>
  <div class="themed-footer"></div>
</template>

<script>
export default {

}
</script>

<style>
.dark-theme .themed-footer {
  background-color: #282a36;
}
.themed-footer {
  height: 8vh;
  background-color: white;
}
</style>
