<template>
    <div class="tile is-ancestor main">
        <div class="tile is-4">
            <a href="http://river-app-ideas.surge.sh/" target="_blank">
              <div class="card">
                   <div class="card-image">
                      <figure class="image">
                          <img src="../assets/appideas-screenshot.png" alt="Screenshot of Frogchan">
                      </figure>
                  </div>
                  <div class="card-content">
                      <div class="title">App Ideas</div>
                  </div>
              </div>
            </a>
        </div>

        <div class="tile is-4">
            <a href="http://frogchan.surge.sh" target="_blank">
              <div class="card">
                   <div class="card-image">
                      <figure class="image">
                          <img src="../assets/frogchan-screenshot.png" alt="Screenshot of Frogchan">
                      </figure>
                  </div>
                  <div class="card-content">
                      <div class="title">FrogChan</div>
                  </div>
              </div>
            </a>
        </div>

        <div class="tile is-4">
            <a href="http://howmuchmoneyhastheboatlost.com" target="_blank">
              <div class="card">
                   <div class="card-image">
                      <figure class="image">
                          <img src="../assets/boatmoney-screenshot.png" alt="Suez Canal Blocked By Boat">
                      </figure>
                  </div>
                  <div class="card-content">
                      <div class="title">Suez Canal Boat Tracker</div>
                  </div>
              </div>
            </a>
        </div>

        <div class="tile is-4">
            <a href="https://twitch.tv/rivermerrill" target="_blank">
              <div class="card">
                 <div class="card-image">
                    <img src="../assets/twitch-logo.jpg" alt="Twitch Logo">
                  </div>
                  <div class="card-content">
                      <div class="title">Live Coding on Twitch</div>
                  </div>
              </div>
            </a>
        </div>

        <div class="tile is-4">
            <a href="https://rivermerrill.bandcamp.com/album/july-ep" target="_blank">
              <div class="card">
                 <div class="card-image">
                    <img src="https://f4.bcbits.com/img/a2528329127_16.jpg" alt="July EP - River Merrill">
                  </div>
                  <div class="card-content">
                      <div class="title">Latest Music Release</div>
                  </div>
              </div>
            </a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Gallery'
}
</script>

<style scoped>
.tile.is-ancestor {
  flex-wrap: wrap;
}

.tile.is-4 {
  margin-bottom: 4%;
}
.main {
    width: 80%;
    margin: auto;
    margin-top: 5%;
}
.card-content {
    text-align: center;
}
.card {
    transition: filter .3s ease;
    cursor: pointer;
    height: 100%;
    width: 90%;
    margin: auto;
    margin-bottom: 10%;
}

.card:hover {
    filter:contrast(0.8);
}

.card-image img {
  object-fit: cover;
  height: 30vh;
  width: 100%;
}
</style>
