<template>
    <div class="level">
      <button 
        class="button"
        :class="{'is-dark': !isDark, 'is-light': isDark}"
        @click="changeTheme()">
        <i class="material-icons">{{isDark ? 'light' : 'dark'}}_mode</i>
      </button>
      <router-link to="/">
          <button class="button is-outlined is-medium">HOME</button>
      </router-link>
      <router-link to="/blog">
          <button class="button is-outlined is-medium">BLOG</button>
      </router-link>
      <router-link to="/resume">
          <button class="button is-outlined is-medium">RÉSUMÉ</button>
      </router-link>
    </div>
</template>

<script>
import {ref} from 'vue';
export default {
    name: 'Navbar',
    setup(props, {emit}) {
      let isDark = ref(JSON.parse(localStorage.getItem('isDark')) || false);
      function changeTheme() {
        isDark.value = !isDark.value;
        emit("themeChanged", isDark.value);
        localStorage.setItem('isDark', JSON.stringify(isDark.value));
      }

      return {isDark, changeTheme};
    }
}
</script>

<style scoped>
button {
    margin: 10px;
}
.is-light {
  background-color: white !important;
  color: #363636 !important;
  border: 1px solid #dbdbdb !important;
}
</style>
