<template>
  <section>
    <div :class="{'dark-theme': isDark}">
      <div v-if="!isResume()" class="navbar">
        <Navbar @themeChanged="themeChanged($event)" />
      </div>
      <router-view />
      <Footer v-if="!isResume()"/>
    </div>
  </section>
</template>

<script>
import Navbar from '@/components/Navbar';
import Footer from '@/components/Footer';
import Router from '@/router';
import {ref} from 'vue';
export default {
  components: {Navbar, Footer},
  setup() {
    const isDarkLocal = JSON.parse(localStorage.getItem('isDark'));
    let isDark = ref(isDarkLocal || false);
    function themeChanged(e) {
      this.isDark = e;
    }
    function isResume() {
      return Router.currentRoute.value.name === 'Resume';
    }
    return {isDark, themeChanged, isResume};
  }
}
</script>

<style>
.dark-theme{
  background-color: #282a36;
  color: #f8f8f2;
  min-width: 100vw;
  min-height: 100vh;
}
.dark-theme div.navbar {
  background-color: #282a36;
  color: #f8f8f2;
}
.dark-theme .title, .dark-theme .subtitle, .dark-theme .content {
  color: #f8f8f2;
}
.dark-theme .card, .dark-theme .button, .dark-theme .box {
  background-color: #44475a;
  color: #f8f8f2;
  border: 2px solid #53576d;
}

@media print { 
  .content {
    width: 100vw;
  }
  .right-column {
    padding-right: 0px !important;
    padding-right: 0px !important;
  }
  p, li {
    font-size: 0.9em;
  }
  h1 {
    font-size: 2.8rem !important;
  }
  h2 {
    font-size: 1.4rem !important;
  }
}
</style>
